/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

/*
 * Header
 */

.banner-wrap {
    background-image: linear-gradient(360deg, rgba(0,0,0,0),transparent),url(./assets/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.overlay {
    z-index: -1;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 50%;
    position: absolute;
    top: 0;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
/* typewriter with palin html css
.typewriter {
  position: relative;
}

.typewriter {
  content: '|';
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: typing 2s steps(35) alternate infinite,
  line 1s infinite
  ;
}

@keyframes typing {
    0%{
    width: 0%;
  }  
  100% {
    width: 100%;
  }
}


@keyframes blink{
0% {
  border-right: 2px solid transparent;
}

50% {
  border-right: 2px solid #fff;
  }
} */

.scrolling {
  background-color: black;
  opacity: 90%;
  transition: all 0.5s;
}

.card {
  transition: all 0.3s;
}
.card:hover {
  transform: scale(1.10);
}